command=$SCRIPT_DIR/$BLOCK_NAME/$BLOCK_NAME
color=#f3f4f5
separator_block_width=25
markup=pango
align=center
interval=1

[volume-pulseaudio]
markup=none
signal=10
LONG_FORMAT="${SYMB}${VOL}%"
SHORT_FORMAT="${SYMB}${VOL}%"
USE_ALSA_NAME=1

[nm-vpn]
init_color=#FFFF00
on_color=#00FF00
label=󰖂 
#command=echo -n '󰖂 ';

# [arch_update]
# command=checkupdates | wc -l
# interval=once
# label=<big><span color="#1793d1"> </span></big>

[mediaplayer]
label=<span color="#bd93f9"> </span>

[cpu_usage]
label=<span color="#ff5555"> </span>
#min_width=CPU: 100.00%
separator=false

[ram]
command=$SCRIPT_DIR/memory/memory | grep -E -o '^[0-9]+.[0-9]G'
label=<span color="#2C7AD2"> </span>
separator=false

[disk-home]
command=df -h -l --output='avail' "$HOME" | grep -E -o '[0-9]+G'
label=<span color="#50fa7b"> </span>

[date]
command=~/.config/i3blocks/calendar/scripts/date.sh
separator=false
separator_block_width=10

[time]
command=echo -n ' '; date '+%H:%M'

[separator]
full_text=""
