[submodule "firefox/ghacks-user.js"]
	path = firefox/ghacks-user.js
	url = https://github.com/ghacksuserjs/ghacks-user.js.git
[submodule "i3/i3blocks-contrib"]
	path = i3/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib
