[submodule "firefox/ghacks-user.js"]
	path = firefox/ghacks-user.js
	url = https://github.com/ghacksuserjs/ghacks-user.js.git
[submodule "zsh/functions/zsh-syntax-highlighting"]
	path = zsh/functions/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "urxvt/urxvt-perls"]
	path = urxvt/urxvt-perls
	url = https://github.com/muennich/urxvt-perls
[submodule "urxvt/urxvt-font-size"]
	path = urxvt/urxvt-font-size
	url = https://github.com/majutsushi/urxvt-font-size
[submodule "i3/i3lock-multimonitor"]
	path = i3/i3lock-multimonitor
	url = https://github.com/ShikherVerma/i3lock-multimonitor
[submodule "urxvt/nord-xresources"]
	path = urxvt/nord-xresources
	url = https://github.com/arcticicestudio/nord-xresources
[submodule "misc/nord-dircolors"]
	path = misc/nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors
[submodule "zsh/functions/spaceship-prompt"]
	path = zsh/functions/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt
[submodule "zsh/functions/zsh-autosuggestions"]
	path = zsh/functions/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/functions/zsh-completions"]
	path = zsh/functions/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/functions/history-search-multi-word"]
	path = zsh/functions/history-search-multi-word
	url = https://github.com/zdharma/history-search-multi-word
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
