command=$SCRIPT_DIR/$BLOCK_NAME/$BLOCK_NAME
color=#f3f4f5
separator_block_width=25
markup=pango
align=center

[volume-pulseaudio]
markup=none
interval=1
signal=10
LONG_FORMAT="${SYMB}${VOL}%"
SHORT_FORMAT="${SYMB}${VOL}%"
USE_ALSA_NAME=1

[mediaplayer]
label=<span color="#bd93f9"> </span>
interval=15

[cpu_usage]
markup=pango
interval=5
label=<span color="#ff5555"> </span>
#min_width=CPU: 100.00%

[ram]
command=$SCRIPT_DIR/memory/memory | grep -E -o '^[0-9]+.[0-9]G'
label=<span color="#ff79c6"> </span>
interval=15

[disk-home]
command=df -h -l --output='avail' "$HOME" | grep -E -o '[0-9]+G'
label=<span color="#50fa7b"> </span>
interval=30

[arch_update]
command=checkupdates | wc -l
interval=once
label=<big><span color="#1793d1"> </span></big>

[time]
command=echo -n ' '; date '+%H:%M'
interval=60

[date]
command=~/.config/i3blocks/scripts/date.sh
interval=60
separator=false
separator_block_width=2

[separator]
color=#f3f4f5
full_text=""
align=center
