[Desktop Entry]
Type=Application
Name=kalu
Comment=Keeping Arch Linux Up-to-date
Icon=kalu
Exec=kalu
Terminal=false
StartupNotify=false
Categories=PackageManager;System;
Hidden=false